@use '../../index.scss';

#collage {
    background-color: index.$fairy-tale;
    display: flex;
    margin: 3rem 8rem;
    border: 5px outset index.$fairy-tale;
    border-radius: 5px;
}
.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.img_ {
    width: 300px;
    height: 300px;
    margin: 1.8rem;
    border: 8px ridge index.$tea-green;
    border-radius: 0.5rem;
    box-shadow: 5px 5px 10px black;

}
#heavy {
    width: 350px;
}
#indiaman {
    width: 250px;
}
#roman {
    width: 580px;
}
#ari {
    height: 400px;
}
#doom {
    height: 350px;
}
#murin, #rage {
    width: 270px;
}
#tako {
    height: 320px;
}