@use '../../index.scss';

#collage {
    background-color: index.$fairy-tale;
    display: flex;
    margin: 3rem 8rem;
}
.images {
    display: grid;
    grid-column: 3;
    justify-content: center;
}
.img_ {
    width: 300px;
    height: 300px;
}
.img_tiger {
    width: 300px;
    height: 300px;
}
.img_tiger {
    width: 300px;
    height: 300px;
}
.img_tiger {
    width: 300px;
    height: 300px;
}
.img_tiger {
    width: 300px;
    height: 300px;
}
.img_tiger {
    width: 300px;
    height: 300px;
}
.img_tiger {
    width: 300px;
    height: 300px;
}
.img_tiger {
    width: 300px;
    height: 300px;
}
.img_tiger {
    width: 300px;
    height: 300px;
}
.img_tiger {
    width: 300px;
    height: 300px;
}
.img_tiger {
    width: 300px;
    height: 300px;
}
.img_tiger {
    width: 300px;
    height: 300px;
}
.img_tiger {
    width: 300px;
    height: 300px;
}
.img_tiger {
    width: 300px;
    height: 300px;
}
.img_tiger {
    width: 300px;
    height: 300px;
}