// Variables
$mindaro: #cde77f;
$tea-green: #e6f8b2;
$murrey: #87255b;
$fairy-tale: #ffcae9;
$charcoal: #1a1a1a;

body {
  margin: 0px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}