@use './index.scss';

#nav-bar {
    background-color: index.$mindaro;
    margin-top: 0px;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: 5px outset index.$mindaro;
}
ul {
    list-style: none;
    display: flex;
    li {
        margin: auto 1rem;
        font-size: 1.4rem;
    }
}